# {{$.Title}}
<a name="top"/>

[](#)

## 目录
{{- range .Files}}
{{$file_name := .Name}}
1. [{{.Title}}](#{{.Name}})
{{range .Messages}}	1. [{{.Title}}](#{{.FullName}})
{{end}}
{{range .Enums}}	1. [{{.LongName}}](#{{.FullName}})
{{end}}
{{range .Extensions}}	1. [File-level Extensions](#{{$file_name}}-extensions)
{{end}}
{{range .Services}}	1. [{{.Title}}](#{{.FullName}})
{{$service_name := .FullName}}
{{range .Methods}}		1. [{{.Title}}](#{{$service_name}}.{{.Name}})
{{end}}{{end}}
{{end}}
1. [基础类型定义](#scalar-value-types)

{{range .Files}}
{{$file_name := .Name}}
<a name="{{.Name}}"/>

[](#)

<p align="right"><a href="#top">Top</a></p>

## {{.Title}} 

{{mdbl .Description}}

{{range .Messages}}
<a name="{{.FullName}}"/>

[](#)

### {{.Title}} 

{{mdbl .Description}}

{{if .HasFields}}
| 字段 | 类型 | 标签 | 描述 |
| ---- | ---- | ---- | ---- |
{{range .Fields -}}
  | {{.Name}} | [{{.Type}}](#{{.FullType}}) | {{.Label}} | {{mdbr .Description}}{{if .DefaultValue}} 默认值: {{.DefaultValue}}{{end}} |
{{end}}
{{end}}

{{if .HasExtensions}}
| 扩展 | 类型 | Base | Number | 描述 |
| ---- | ---- | ---- | ------ | ---- |
{{range .Extensions -}}
  | {{.Name}} | {{.Type}} | {{.ContainingLongType}} | {{.Number}} | {{mdbr .Description}}{{if .DefaultValue}} 默认值: {{.DefaultValue}}{{end}} |
{{end}}
{{end}}

{{end}} <!-- end messages -->

{{range .Enums}}
<a name="{{.FullName}}"/>

[](#)

### {{.LongName}}

{{mdbl .Description}}

| 名称 | 取值 | 描述 |
| ---- | ---- | ---- |
{{range .Values -}}
  | {{.Name}} | {{.Number}} | {{mdbr .Description}} |
{{end}}

{{end}} <!-- end enums -->

{{if .HasExtensions}}
<a name="{{$file_name}}-extensions"/>

[](#)

### 文件级别扩展

| 扩展 | 类型 | Base | Number | 描述 |
| ---- | ---- | ---- | ------ | ---- |
{{range .Extensions -}}
| {{.Name}} | {{.Type}} | {{.ContainingLongType}} | {{.Number}} | {{mdbr .Description}}{{if .DefaultValue}} Default: `{{.DefaultValue}}`{{end}} |
{{end}}
{{end}} <!-- end HasExtensions -->

{{range .Services}}
{{$service_name := .FullName}}
<a name="{{.FullName}}"/>

[](#)

### {{.Title}} {{.Name}}

{{mdbl .Description}}

| 接口 | 请求类型 | 响应类型 |
| ---- | -------- | -------- | 
{{range .Methods -}}
  | [{{.Title}} ({{.Name}})](#{{$service_name}}.{{.Name}}) | [{{.RequestType}}](#{{.RequestFullType}}) | [{{.ResponseType}}](#{{.RequestFullType}}) |
{{end}}

{{range .Methods}}
<a name="{{$service_name}}.{{.Name}}"/>

[](#)

### {{.Title}} ({{.Name}})

{{mdbl .Description}}
	
{{if .HasRequestMessage}}
{{$m := .RequestMessage}}

#### 请求类型: {{$m.Title}} ({{$m.Name}})

{{mdbl $m.Description}}

{{if $m.HasFields}}
| 字段 | 类型 | 标签 | 描述 |
| ---- | ---- | ---- | ---- |
{{range $m.Fields -}}
|{{.Name}}|[{{.Type}}](#{{.FullType}})|{{.Label}}|{{mdbr .Description}} {{if .DefaultValue}}默认值: {{.DefaultValue}}{{end}}|
{{end}} 
{{end}} <!-- end HasFields -->

{{if $m.HasExtensions}}
| 扩展 | 类型 | Base | Number | 描述 |
| ---- | ---- | ---- | ------ | ---- |
{{range $m.Extensions -}}
|{{.Name}}|[{{.Type}}](#{{.FullType}})|[{{.ContainingLongType}}](#{{.ContainingFullType}})|{{.Number}}|{{mdbr .Description}}{{if .DefaultValue}} 默认值: {{.DefaultValue}}{{end}}|
{{end}} 
{{end}} <!-- end HasExtensions -->
{{else}}
#### 请求类型: {{.RequestType}}

`类型未找到`
{{end}} <!-- end HasRequestMessage -->


{{if .HasResponseMessage}}
{{$m := .ResponseMessage}}

#### 请求类型: {{$m.Title}} ({{$m.Name}})

{{mdbl $m.Description}}

{{if $m.HasFields}}
| 字段 | 类型 | 标签 | 描述 |
| ---- | ---- | ---- | ---- |
{{range $m.Fields -}}
|{{.Name}}|[{{.Type}}](#{{.FullType}})|{{.Label}}|{{mdbr .Description}} {{if .DefaultValue}}默认值: {{.DefaultValue}}{{end}}|
{{end}} 
{{end}} <!-- end HasFields -->

{{if $m.HasExtensions}}
| 扩展 | 类型 | Base | Number | 描述 |
| ---- | ---- | ---- | ------ | ---- |
{{range $m.Extensions -}}
|{{.Name}}|[{{.Type}}](#{{.FullType}})|[{{.ContainingLongType}}](#{{.ContainingFullType}})|{{.Number}}|{{mdbr .Description}}{{if .DefaultValue}} 默认值: {{.DefaultValue}}{{end}}|
{{end}} 
{{end}} <!-- end HasExtensions -->
{{else}}
#### 请求类型: {{.RequestLongType}}

`类型未找到`
{{end}} <!-- end HasResponseMessage -->
{{end}} <!-- end range method -->
{{end}} <!-- end services -->

{{end}}

## 类型对应

| proto类型 | 备注 | C++类型 | Java类型 | Python类型 |
| ----------- | ----- | -------- | --------- | ----------- |
{{range .Scalars -}}
  | <a name="{{.ProtoType}}" /> {{.ProtoType}} | {{.Notes}} | {{.CppType}} | {{.JavaType}} | {{.PythonType}} |
{{end}}
