# {{$.Title}}
<a name="top"/>

## 目录
{{range .Files}}
{{$file_name := .Name}}- [{{.Title}}](#{{.Name}})
  {{range .Messages}}  - [{{.Title}}](#{{.FullName}})
  {{end}}
  {{range .Enums}}  - [{{.LongName}}](#{{.FullName}})
  {{end}}
  {{range .Extensions}}  - [File-level Extensions](#{{$file_name}}-extensions)
  {{end}}
  {{range .Services}}  - [{{.Title}}](#{{.FullName}})
  {{$service_name := .FullName}}
  {{range .Methods}}    - [{{.Title}}](#{{$service_name}}.{{.Name}})
  {{end}}
  {{end}}
{{end}}
- [基础类型定义](#scalar-value-types)

{{range .Files}}
{{$file_name := .Name}}
<a name="{{.Name}}"/>
<p align="right"><a href="#top">Top</a></p>

## {{.Title}} ({{.Name}})
{{.Description}}

{{range .Messages}}
<a name="{{.FullName}}"/>

### {{.Title}} {{.LongName}}
{{.Description}}

{{if .HasFields}}
| 字段 | 类型 | 标签 | 描述 |
| ---- | ---- | ---- | ---- |
{{range .Fields -}}
  | {{.Name}} | [{{.LongType}}](#{{.FullType}}) | {{.Label}} | {{nobr .Description}}{{if .DefaultValue}} 默认值: {{.DefaultValue}}{{end}} |
{{end}}
{{end}}

{{if .HasExtensions}}
| 扩展 | 类型 | Base | Number | 描述 |
| ---- | ---- | ---- | ------ | ---- |
{{range .Extensions -}}
  | {{.Name}} | {{.LongType}} | {{.ContainingLongType}} | {{.Number}} | {{nobr .Description}}{{if .DefaultValue}} 默认值: {{.DefaultValue}}{{end}} |
{{end}}
{{end}}

{{end}} <!-- end messages -->

{{range .Enums}}
<a name="{{.FullName}}"/>

### {{.LongName}}
{{.Description}}

| 名称 | 取值 | 描述 |
| ---- | ---- | ---- |
{{range .Values -}}
  | {{.Name}} | {{.Number}} | {{nobr .Description}} |
{{end}}

{{end}} <!-- end enums -->

{{if .HasExtensions}}
<a name="{{$file_name}}-extensions"/>

### File-level Extensions
| Extension | Type | Base | Number | Description |
| --------- | ---- | ---- | ------ | ----------- |
{{range .Extensions -}}
  | {{.Name}} | {{.LongType}} | {{.ContainingLongType}} | {{.Number}} | {{nobr .Description}}{{if .DefaultValue}} Default: `{{.DefaultValue}}`{{end}} |
{{end}}
{{end}} <!-- end HasExtensions -->

{{range .Services}}
{{$service_name := .FullName}}
<a name="{{.FullName}}"/>

### {{.Title}} {{.Name}}
{{.Description}}

| 接口 | 请求类型 | 响应类型 | 描述 |
| ---- | -------- | -------- | -----|
{{range .Methods -}}
  | [{{.Name}}](#{{$service_name}}.{{.Name}}) | [{{.RequestLongType}}](#{{.RequestFullType}}) | [{{.ResponseLongType}}](#{{.RequestFullType}}) | {{nobr .Description}} |
{{end}}

{{range .Methods}}
<a name="{{$service_name}}.{{.Name}}"/>

### {{.Title}} ({{.Name}})
{{.Description}}
	
{{if .HasRequestMessage}}
{{$m := .RequestMessage}}

#### 请求类型: {{$m.Title}} ({{$m.FullName}})

{{$m.Description}}

{{if $m.HasFields}}
| 字段 | 类型 | 标签 | 描述 |
| ---- | ---- | ---- | ---- |
{{range $m.Fields -}}
|{{.Name}}|[{{.LongType}}](#{{.FullType}})|{{.Label}}|{{.Description}} {{if .DefaultValue}}默认值: {{.DefaultValue}}{{end}}|
{{end}} 
{{end}} <!-- end HasFields -->

{{if $m.HasExtensions}}
| 扩展 | 类型 | Base | Number | 描述 |
| ---- | ---- | ---- | ------ | ---- |
{{range $m.Extensions -}}
|{{.Name}}|[{{.LongType}}](#{{.FullType}})|[{{.ContainingLongType}}](#{{.ContainingFullType}})|{{.Number}}|{{.Description}}{{if .DefaultValue}} 默认值: {{.DefaultValue}}{{end}}|
{{end}} 
{{end}} <!-- end HasExtensions -->
{{else}}
#### 请求类型: {{.RequestLongType}}
	类型未找到
{{end}} <!-- end HasRequestMessage -->


{{if .HasResponseMessage}}
{{$m := .ResponseMessage}}

#### 请求类型: {{$m.Title}} ({{$m.FullName}})

{{$m.Description}}

{{if $m.HasFields}}
| 字段 | 类型 | 标签 | 描述 |
| ---- | ---- | ---- | ---- |
{{range $m.Fields -}}
|{{.Name}}|[{{.LongType}}](#{{.FullType}})|{{.Label}}|{{.Description}} {{if .DefaultValue}}默认值: {{.DefaultValue}}{{end}}|
{{end}} 
{{end}} <!-- end HasFields -->

{{if $m.HasExtensions}}
| 扩展 | 类型 | Base | Number | 描述 |
| ---- | ---- | ---- | ------ | ---- |
{{range $m.Extensions -}}
|{{.Name}}|[{{.LongType}}](#{{.FullType}})|[{{.ContainingLongType}}](#{{.ContainingFullType}})|{{.Number}}|{{.Description}}{{if .DefaultValue}} 默认值: {{.DefaultValue}}{{end}}|
{{end}} 
{{end}} <!-- end HasExtensions -->
{{else}}
#### 请求类型: {{.RequestLongType}}
	类型未找到
{{end}} <!-- end HasResponseMessage -->
{{end}} <!-- end range method -->
{{end}} <!-- end services -->

{{end}}

## 类型对应

| proto类型 | 备注 | C++类型 | Java类型 | Python类型 |
| ----------- | ----- | -------- | --------- | ----------- |
{{range .Scalars -}}
  | <a name="{{.ProtoType}}" /> {{.ProtoType}} | {{.Notes}} | {{.CppType}} | {{.JavaType}} | {{.PythonType}} |
{{end}}
